{% extends "src/views/layout.html" %}

{% set title="Master Dhammadipa" %}

{% block content %}
<div class="p-7 md:max-w-2xl bg-light">
    <h2 class="font-semibold font-serif text-2xl">法曜法師 Ven. Dr. Dhammadipa Sak, Ph.D.</h2>
    <img src="../images/c71134_26e2be0351ad44688b3bac3ec8fca12b.jpg" class="mt-6 rounded-2xl">
    <p class="pt-6">
        Bhikkhu. Dr. Dhammadipa Sak, recognized in Chinese as 法曜 (Fa Yao), holds esteemed positions as the Abbot and
        President of the Amata Meditation Center and US Zen Institute located in Boyds and Germantown, Maryland,
        respectively. He also presides as Abbot at the Wisdom Temple in Billerica, Massachusetts. His illustrious
        journey includes roles as Abbot and resident monk at the Chuang Yen Monastery in Carmel, NY (2008-2015),
        followed by service at the Temple of Enlightenment in Bronx, NY until 2017. Currently, he assumes the role of
        Vice President for the Buddhist Association of the United States. A notable accomplishment during his tenure in
        Taiwan (2020-2022) was the establishment of the Association of Sino Jhāyin, a body responsible for organizing an
        array of meditation retreats in Taiwan.
    </p>
    <p class="pt-5">
        An academic and meditation maestro, Ven. Dr. Dhammadipa Sak possesses an in-depth knowledge of early Mahāyāna
        and Theravāda Buddhism. His primary academic interests lie in Sarvāstivāda Abhidharma and Theravāda Abhidhamma.
        Additionally, he delves deep into the Yogacāra system, especially Yogācārabhūmi, and Tientai, emphasizing the
        confluence of Śamatha and Vipraśyana in meditation theory. Outside the realm of academia, he leads meditation
        retreats of varied durations globally.
    </p>
    <p class="pt-5">
        Ven. Dhammadipa embarked on his academic voyage with his monastic ordination in Sri Lanka in 1987. Subsequently,
        he earned a Bachelor's degree in Buddhist Studies and Western Philosophy from the Pali and Buddhist University.
        This was succeeded by a Master's in Buddhist Philosophy from the University of Kelaniya. Over the years, he has
        lectured at prestigious institutions, including the Yuan Kuang Institute of Buddhist Studies and the Fuyen
        Buddhist Institute in Taiwan. After dedicating six years to rigorous research in the UK, he achieved a Ph.D.
        from the
        Department of Religions at the University of Bristol."
    </p>
    <p class="pt-5">
        Since 2008, Dr. Dhammadipa has been affiliated with Sun Yat-sen University, Guangzhou, China, as a distinguished
        research fellow. In 2019, he undertook a visiting lectureship at the University of Chicago, offering courses on
        various subjects, including 'The Foundation of Buddhist Thoughts', 'Comparative Reading of Pali and Chinese
        Buddhist Texts', 'Buddhist Scholasticism and Its Practice Structures' and 'Towards Ecumenical Buddhism'.
    </p>
    <p class="pt-5">
        Despite a hectic schedule, he has recently shifted his focus more to the Meditation Center Amata, promulgating
        meditation techniques like Brahmavihāra bhavanā, Ānāpānasati/smṛti with regards to satipaṭṭhāna/Śmṛti-upasthāna,
        and Satipaṭṭhāna meditation methods.
    </p>
    <p class="pt-5">
        His current research encompasses a detailed exploration of Satipaṭṭhāna across different canonical sources in
        and an exhaustive analysis of Buddha's life, grounding his studies in Pali, Sanskrit, and Chinese canons.
    </p>
    <p class="pt-5">
        Prowess with a remarkable aptitude for languages, Ven. Dhammadipa demonstrates proficiency in reading a diverse
        set of languages such as Pāli, Sanskrit, English, Chinese, French, and Japanese. His scholarly interests span
        well beyond the boundaries of Buddhism, encompassing Western Philosophy, Christianity, Islam, and Hinduism.
        Currently, he holds a distinguished position on the Board of Trustees of the Parliament of World's Religions,
        fervently advocating for global religious unity and the promotion of ecumenical Buddhism.
    </p>
    <h2 class="pt-3 font-semibold font-serif text-lg">Select Publications</h2>
    <ul class="pt-3 list-disc">
        <li>《中國六朝時期的廣州為海運線上菁英型佛教所扮演發展中的角色》 (A Study on Guangzhou and its Role in Elite Buddhism during the Maritime Era
            of the Sixth Dynasty). Yuan Kuang Journal of Buddhist Studies No. 37, June 2021.</li>
        <li><i>"Guangzhou and its Role in Elite Buddhism during the Maritime Routes of the Six Dynasties."</i> In Maritime
            Buddhist Transmissions, edited by Long, Xiu & Jiang, Hong, Religion Culture Publishing House, April 2016.
        </li>
        <li><i>"The Great Compassion and Fraternity in Mahayana Buddhist Traditions."</i> In Proceedings of the
            Buddhist-Catholic Dialogue on Suffering, Liberation, and Fraternity, Claritas: Journal of Dialogue and
            Culture, vol. 4, no. 2, 2015.</li>
        <li><i>"How to Practice Four Establishment of Mindfulness."</i> Translated by Dhammadipa Sak from the original by Shih
            Mom. Carmel: BAUS, 2010.</li>
        <li><i>"The Divisions of anapanasati/smati in their Chronological Development."</i> In Buddhist and Pali Studies in
            Honour of the Venerable Professor Kakkapaliye Anuruddha, The University of Hong Kong, Feb. 2009</li>
    </ul>
</div>
{% endblock %}
