{% extends "src/views/layout.html" %}

{% set title="Amata" %}

{% macro carouselItem(index, imageLink, siteLink, nameChinese, nameEnglish, location1, location2) %}
<div id="slide{{ index }}" class="carousel-item relative flex flex-col w-full">
    <div class="flex-grow m-2 overflow-hidden pt-0 rounded-3xl mx-5">
        <div class="relative h-full w-full">
            <div class="absolute flex justify-between transform left-5 right-5 pb-5 bottom-0">
                <a id="prev-link-{{ index }}" href="#slide{{ index - 1 }}" class="btn btn-circle bg-gray hover:bg-light border-0 shadow-2xl text-dark text-lg">
		    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6"> <path fill-rule="evenodd" d="M14 8a.75.75 0 0 1-.75.75H4.56l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 1.06L4.56 7.25h8.69A.75.75 0 0 1 14 8Z" clip-rule="evenodd" /> </svg>
                </a>
                <a id="next-link-{{ index }}" href="#slide{{ index + 1 }}"
                   class="btn btn-circle bg-gray hover:bg-light border-0 shadow-2xl text-dark text-lg">
		    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6"> <path fill-rule="evenodd" d="M2 8a.75.75 0 0 1 .75-.75h8.69L8.22 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06-1.06l3.22-3.22H2.75A.75.75 0 0 1 2 8Z" clip-rule="evenodd" /> </svg>
                </a>
            </div>
            <img class="aspect-auto min-h-full object-center object-cover" src="{{ imageLink }}">
        </div>
    </div>
    <div class="m-3 mx-5 mt-5">
        <a class="hover:border-b-2 font-semibold font-serif text-2xl text-dark" href="{{ siteLink }}">
	    <span class="font-sans">
		{{ nameChinese }}
	    </span>
	    <br />
	    {{ nameEnglish }}
	</a>
	<div class="mb-2"></div>
        <p class="font-serif text-xl text-dark">{{ location1 }}</p>
        <p class="font-serif italic text-xl text-dark">{{ location2 }}</p>
    </div>
</div>
{% endmacro %}

{% block content %}
<div id="carousel" class="carousel max-h-[850px] w-full py-5">
    {{
        carouselItem(1, '../images/hsiuying 1.jpg', 'https://amatavihara.org', '醍醐寺', 'Amata Meditation Center', 'Boyds, Maryland', 'USA')
    }}
    {{
        carouselItem(2, '../images/uszen_exterior_day.jpg', 'https://uszen.org', '美國禪學講堂', 'US Zen Institute', 'Germantown, Maryland', 'USA')
    }}
    {{
        carouselItem(3, '../images/ed3fca_bff95a3760314a24a0dce6b75f44a29e~mv2_d_4730_2660_s_4_2.jpg', 'https://en.mkmeditationc.com', '神山禪修中心', 'Mount Kinabalu Meditation Centre', 'Kundasang, Sabah', 'Malaysia')
    }}
    {{
        carouselItem(4, '../images/20230211_p_20.jpg', 'https://asj.org.tw', '中華習禪會', 'The Association of Sino Jhāyin', 'Zhongpu, Chiayi', 'Taiwan')
    }}
    {{
        carouselItem(5, '../images/TB202312311558.jpg', 'http://noble-silence.org', '聖默禪院', 'Sheng Mo Temple Meditation Center', 'Gukeng, Yunling', 'Taiwan')
    }}
</div>
{% endblock %}

{% block scripts %}
<script>
    const nodes = Array.from(carousel.childNodes).filter(c => c.nodeType != 3)
    document.getElementById("prev-link-1").href = `#slide${nodes.length}`
    document.getElementById(`next-link-${nodes.length}`).href = '#slide1'
</script>
{% endblock %}
