{% extends "src/views/layout.html" %}

{% set title="Amata" %}

{% macro carouselItem(index, imageLink, siteLink, nameChinese, nameEnglish, location1, location2) %}
<div id="carousel{{ index }}"
    class="duration-300 ease-in-out flex flex-col flex-grow min-w-full transition md:duration-500 md:opacity-5"
    data-index="{{ index }}">
    <div class="flex-grow m-2 overflow-hidden pt-0 rounded-3xl">
        <div class="relative h-full w-full">
            <img class="aspect-auto min-h-full object-center object-cover" src="{{ imageLink }}">
            <div id="previous{{ index }}" class="absolute top-0 left-0 flex h-full items-center justify-center px-4 focus:outline-none">
                <button class="group" type="button" aria-label="Previous slide" onclick="handleClickPrevious(this)">
                    <span class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70 sm:h-10 sm:w-10">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="h-5 w-5 text-white dark:text-gray-800 sm:h-6 sm:w-6" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7"></path>
                        </svg>
                    </span>
                </button>
            </div>
            <div id="next{{ index }}" class="absolute top-0 right-0 flex h-full items-center justify-center px-4 focus:outline-none">
                <button class="group" type="button" aria-label="Next slide" onclick="handleClickNext(this)">
                    <span class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white/30 group-hover:bg-white/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-white dark:bg-gray-800/30 dark:group-hover:bg-gray-800/60 dark:group-focus:ring-gray-800/70 sm:h-10 sm:w-10">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" aria-hidden="true" class="h-5 w-5 text-white dark:text-gray-800 sm:h-6 sm:w-6" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="m-3">
        <a class="hover:underline font-semibold font-serif mb-3 text-2xl" href="{{ siteLink }}">{{ nameChinese }}<br/>{{ nameEnglish }}</a>
        <p class="font-serif text-xl">{{ location1 }}</p>
        <p class="font-serif italic text-xl">{{ location2 }}</p>
    </div>
</div>
{% endmacro %}

{% block content %}
<div class="carousel duration-500 ease-in-out flex flex-row max-h-[850px] max-w-full overflow-x-scroll pb-16 pl-5 pr-10 pt-5 transition md:overflow-x-visible" id="carousel">
    {{
        carouselItem(1, '../images/hsiuying 1.jpg', 'https://amatavihara.org', '醍醐寺', 'Amata Meditation Center', 'Boyds, Maryland', 'USA')
    }}
    {{
        carouselItem(2, '../images/uszen_exterior_day.jpg', 'https://uszen.org', '美國禪學講堂', 'US Zen Institute', 'Germantown, Maryland', 'USA')
    }}
    {{
        carouselItem(3, '../images/ed3fca_bff95a3760314a24a0dce6b75f44a29e~mv2_d_4730_2660_s_4_2.jpg', 'https://en.mkmeditationc.com', '神山禪修中心', 'Mount Kinabalu Meditation Centre', 'Kundasang, Sabah', 'Malaysia')
    }}
    {{
        carouselItem(4, '../images/20230211_p_20.jpg', 'https://asj.org.tw', '中華習禪會', 'The Association of Sino Jhāyin', 'Zhongpu, Chiayi', 'Taiwan')
    }}
    {{
        carouselItem(5, '../images/TB202312311558.jpg', 'http://noble-silence.org', '聖默禪院', 'Sheng Mo Temple Meditation Center', 'Gukeng, Yunling', 'Taiwan')
    }}
</div>
{% endblock %}


{% block scripts %}
<script>
    const screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

    const carousel = document.getElementById("carousel");
    const classname = "md:opacity-5"
    const nodes = Array.from(carousel.childNodes).filter(c => c.nodeType != 3)

    carousel1.classList.toggle(classname);
    previous1.classList.add("invisible");
    document.getElementById(`next${nodes.length}`).classList.add("invisible");

    function handleClickPrevious(target) {
        const index = getIndex(target);
        ensureAllDimmed(except = (index-2));
        carousel.style.transform = `translate(-${carousel.scrollWidth * (index-2) / nodes.length}px, 0px)`;
        ensure(document.getElementById(`carousel${index-1}`), dimmed = false);
    }

    function handleClickNext(target) {
        const index = getIndex(target);
        ensureAllDimmed(except = (index+1));
        carousel.style.transform = `translate(-${carousel.scrollWidth * index / nodes.length}px, 0px)`;
        ensure(document.getElementById(`carousel${index+1}`), dimmed = false);
    }

    function getIndex(target) {
        let cur = target;
        while (!cur.hasAttribute("data-index")) {
            cur = cur.parentNode;
        }
        return Number(cur.getAttribute("data-index"));
    }

    function ensure(item, dimmed) {
        if (dimmed && !item.classList.contains(classname)) {
            item.classList.toggle(classname)
        } else if (!dimmed && item.classList.contains(classname)) {
            item.classList.toggle(classname)
        }
    }

    function ensureAllDimmed(except) {
        nodes.forEach((c, j) => {
            if (c.nodeType != 3 && except != j) {
                ensure(c, dimmed = true)
            }
        })
    }

    nodes.forEach((c, i) => {
        if (c.nodeType != 3) {
            c.addEventListener("mouseover", () => {
                if (screenWidth >= 768) {
                    ensureAllDimmed(except = i);
                    carousel.style.transform = `translate(-${carousel.scrollWidth * i / nodes.length}px, 0px)`
                    ensure(c, dimmed = false);
                }
            })
        }
    })
</script>
{% endblock %}