<!DOCTYPE html>
<html lang="en" class="bg-light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../sass/index.scss">
</head>

<body class="bg-light md:flex md:flex-col md:items-center text-dark" style="overflow-x: hidden">
    <div class="flex flex-col items-center max-h-[900px] max-h-screen min-h-screen md:max-w-xl">
        <div class="flex mt-4" data-pgc-define="logo">
            <div class="flex items-center justify-center w-full">
                <a href="index.html"><img src="../images/Screenshot 2024-01-08 094916.png" class="text-left w-64"></a>
            </div>
        </div>
        <nav class="flex mt-6 flow-row justify-items-center justify-between text-lg font-sans">
            <a href="about.html"
	       class="text-blue-500 hover:text-blue-800 lg:mx-1 px-3 py-1 rounded-full hover:shadow border-2 border-light hover:border-dark hover:bg-gray">
		About
	    </a>
            <a href="dhammadipa.html"
	       class="text-blue-500 hover:text-blue-800 lg:mx-1 px-3 py-1 rounded-full hover:shadow border-2 border-light hover:border-dark hover:bg-gray">
		Master Dhammadipa
	    </a>
            <a href="contact.html"
	       class="text-blue-500 hover:text-blue-800 lg:mx-1 px-3 py-1 rounded-full hover:shadow border-2 border-light hover:border-dark hover:bg-gray">
		Contact
	    </a>
        </nav>

        <!-- block for specific page content -->
        {% block content %}{% endblock %}

    </div>


    <!-- block for specific page scripts -->
    {% block scripts %}{% endblock %}
</body>
<script>
 let navElements = document.querySelectorAll('nav > a');

 navElements.forEach((el) => {
     if(document.URL.endsWith(el.href)) {
	 el.classList.add("border-dark");
	 el.classList.add("bg-gray");
	 el.classList.add("shadow");
	 el.classList.remove("border-light");
     }
 })
</script>

</html>
