{% extends "src/views/layout.html" %}

{% set title="Amata: Mission" %}

{% block content %}
<div class="p-7 md:max-w-2xl">
    <h2 class="font-semibold font-serif text-2xl">宗旨 Our Mission</h2>
    <p class="font-sans mt-3">踐行「眾生和天人長遠安穏與利益」的宗旨，修習止、觀及其教理，陶冶人類的善行。 致力於調柔佛教宗派，弘揚跨越宗教、文化與國界的禪法，敞開雙臂歡迎各方的有志者前來參學。</p>
    <p class="mt-3">Putting into practice our mission statement of &ldquo;for the long-term peace and benefits of all
        beings, devas, and humans.&ldquo; By practicing samatha and vipassana and learning their principles, we will be
        able to cultivate the goodness in mankind. We strive to foster harmony among different Buddhist lineages,
        promote a meditation method that crosses the boundary of religion, culture, and national border. We open our
        arms to welcome all with aspiration to come to learn together.</p>
</div>
{% endblock %}